@media only screen and (max-width: 600px) { 
    .container {
         width: 95% !important;
    }
    h3 {
         word-wrap: break-word;
    }
}
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  flex: 1 0 auto;
  background: rgba(0, 0, 0, 0.5);
} 
/*.container{
  position: absolute;
  top: 50%;
  right:50%;
  transform: translate(50%, -50%);
  padding: 2em 3em;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 2px #131415;
  border-radius: 15px;
  text-transform: uppercase;
}*/
.container {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2em 3em;
  width: 45%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropdown-content {
  background-color: #871A44;
}
.dropdown-content li>a {
  color: #FFFFFF;
}
.dropdown-content li>a:hover {
  background-color: #F9BEDE;
}
.social {
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0em 0.2em;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 2em;
}
.modal-overlay {
  display: none !important;
}
.modal-content {
  color: #000000;
}
a.socialbtn {
  color: #FFFFFF;
  transition: .3s;
}
a.socialbtn:hover {
  color: #d63272;
}
.rpad {
  padding-right: 0.3em;
}
canvas {
  display: block;
  vertical-align: bottom;
}
.btn, .btn-large, .btn-small {
  background-color: #871A44;/*FEDD58 - Yellow */
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
a.btn-flat:hover {
	color: #d63272;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #d63272;/*#F9BEDE; - Pink *//*A58F39 - Darker Yellow*/
}
.btn:focus, .btn-large:focus, .btn-small:focus {
  background-color: #871A44;/*F9BEDE - Darker Yellow*/
}
h3 {
  margin: 0.4rem 0 0.4rem 0;
}
h4 {
  margin: 0 0 0 0;
}